extends layout

block content
  div.container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
      header.text-center
        div.container.d-flex.justify-content-center
          h3 Smart Mirror Generator
        div.container.d-flex.justify-content-center
          nav.nav
            a.nav-link( href = '/about') About
            a.nav-link( href = '/login') Sign In
      br
      
      main.text-center
        div.container      
          div.d-flex.justify-content-center
            div#mockupSlides.carousel( style='width: 500px')
              ol.carousel-indicators
                li.active( data-target='mockupSlides' data-slide-to='0')
                li( data-target='mockupSlides' data-slide-to='1')
              div.carousel-inner
                div.carousel-item.active
                  img.image.d-block.w-100(src='images/bathroom.png' alt='mock up image')
                div.carousel-item
                  img.image.d-block.w-100(src='images/mirror.png' alt='mock up image')
              a.carousel-control-prev(href='#mockupSlides' data-slide='prev')
                span.carousel-control-prev-icon
              a.carousel-control-next(href='#mockupSlides' data-slide='next')
                span.carousel-control-next-icon
        br
        br
        div.container
          a.btn.btn-success(href='/registration') Get Started



