extends layout

block content
  div.container
    div.row.fixed-top
      div.col-md-10.mt-5.ml-5
        h4(id='time')
        h5(id='day')
        h5(id='month')
      div.col-md.mt-5
        h4(id='temp')
        h5(id='conditions')
    div.row.fixed-bottom.ml-5.bottomDiv
      div.col.mb-5
        h4(id='bartTimes') None

    div.row.fixed-bottom.ml-5.bottomDiv
      div.col(id='muniMirrorDiv').mb-1
        h4(id='muniTimes') None
    